<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenhao.goods.dao.BrandMapper">
	<select id="findById" resultType="Brand">
		select * from hg_brand where id=#{id}
	</select>
	
	<select id="queryAllBrand" resultType="Brand">
		select * from hg_brand
	</select>
</mapper>